<a href="https://colab.research.google.com/github/NicoleMeinie/Regression/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
%matplotlib inline

# should these be here or in the body of the code? - PEP8
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# avoid pd warnings 
import warnings
warnings.filterwarnings("ignore")

# upload data
Test = pd.read_csv('Test.csv')
Train = pd.read_csv('Train.csv')
Riders = pd.read_csv('Riders.csv')
#Sub = pd.read_csv('SampleSubmission.csv')

# merge drivers's informations with the train and test datasets
Train = Train.merge(Riders, on='Rider Id', how='left')
Test = Test.merge(Riders, on='Rider Id', how='left')

Tests = Test.copy()

In [120]:
from sklearn.impute import SimpleImputer

# Replacing Null values in the temperature column with the average value - train and test set
imputer_temp = SimpleImputer(missing_values = np.NaN, strategy = 'mean')
imputer_temp_1 = SimpleImputer(missing_values = np.NaN, strategy = 'mean')

imputer_temp.fit(Train.iloc[:,20:22])
Train.iloc[:,20:22] = imputer_temp.transform(Train.iloc[:,20:22])

imputer_temp_1.fit(Train.iloc[:,17:19])
Test.iloc[:,17:19] = imputer_temp_1.transform(Test.iloc[:,17:19])

# Replacing the Null values in the precipitation column with 0 - train and test set 
imputer_prec = SimpleImputer(missing_values = np.NaN, strategy = 'constant', fill_value = 0)
imputer_prec_1 = SimpleImputer(missing_values = np.NaN, strategy = 'constant', fill_value = 0)

imputer_prec.fit(Train.iloc[:,22:])
Train.iloc[:,22:] = imputer_prec.transform(Train.iloc[:,22:])

imputer_prec_1.fit(Test.iloc[:,19:22])
Test.iloc[:,19:22] = imputer_prec_1.transform(Test.iloc[:,19:22])  
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  float64
 21  Temperature                                21201 non-null  float64
 22  Precipitation in millimeters               21201 non-null  float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
 29  No_Of_Orders                               21201 non-null  int64
 30  Age                                        21201 non-null  int64
 31  Average_Rating                             21201 non-null  float64
 32  No_of_Ratings                              21201 non-null  int64
dtypes: float64(8), int64(15), object(10)
memory usage: 5.5+ MB

In [0]:
# Drop the ID and Vehicle type columns in the train and test data
to_drop = ['Order No', 'User Id', 'Rider Id', 'Vehicle Type', 'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)', 'Confirmation - Time', 
           'Arrival at Pickup - Day of Month', 'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time', 'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)',
             'No_of_Ratings']
Train.drop(to_drop, axis = 1, inplace = True)
Test.drop(to_drop, axis = 1, inplace = True)

In [122]:
# rename some columns
name = {'Placement - Day of Month': 'Day of Month', 'Placement - Weekday (Mo = 1)': 'Weekday'}
Train.rename(columns = name, inplace = True) 
Test.rename(columns = name, inplace = True)
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Platform Type                              21201 non-null  int64
 1   Personal or Business                       21201 non-null  object
 2   Day of Month                               21201 non-null  int64
 3   Weekday                                    21201 non-null  int64
 4   Placement - Time                           21201 non-null  object
 5   Pickup - Time                              21201 non-null  object
 6   Arrival at Destination - Day of Month      21201 non-null  int64
 7   Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 8   Arrival at Destination - Time              21201 non-null  object
 9   Distance (KM)                              21201 non-null  float64
 10  Temperature                                21201 non-null  float64
 11  Precipitation in millimeters               21201 non-null  float64
 12  Pickup Lat                                 21201 non-null  float64
 13  Pickup Long                                21201 non-null  float64
 14  Destination Lat                            21201 non-null  float64
 15  Destination Long                           21201 non-null  float64
 16  Time from Pickup to Arrival                21201 non-null  int64
 17  No_Of_Orders                               21201 non-null  int64
 18  Age                                        21201 non-null  int64
 19  Average_Rating                             21201 non-null  float64
dtypes: float64(8), int64(8), object(4)
memory usage: 3.4+ MB

In [0]:
# convert Times to timestamps

# Train data
Train['Placement - Time'] = pd.to_datetime(Train['Placement - Time'])
Train['Pickup - Time'] = pd.to_datetime(Train['Pickup - Time'])

# Test data
Test['Placement - Time'] = pd.to_datetime(Test['Placement - Time'])
Test['Pickup - Time'] = pd.to_datetime(Test['Pickup - Time'])

In [0]:
# Create new feature: Waiting time between the time an order was placed and when the order was picked up
Train['Waiting time'] = Train['Pickup - Time'] - Train['Placement - Time']
Test['Waiting time'] = Test['Pickup - Time'] - Test['Placement - Time']

# convert waiting time from time_delta to seconds 
Train['Waiting time'] = Train['Waiting time'].astype('timedelta64[s]')
Test['Waiting time'] = Test['Waiting time'].astype('timedelta64[s]')

In [126]:
Train.drop(['Placement - Time'], axis = 1, inplace = True)
Test.drop(['Placement - Time'], axis = 1, inplace = True)

Train['Pickup - Time'] = Train['Pickup - Time'].dt.hour
Test['Pickup - Time'] = Test['Pickup - Time'].dt.hour
Test.head()

   Platform Type Personal or Business  ...  Average_Rating  Waiting time
0              3             Business  ...            13.3        1357.0
1              3             Business  ...            14.4        1682.0
2              3             Business  ...            13.1        2980.0
3              3             Business  ...            13.7        1517.0
4              3             Business  ...            14.1        1536.0

[5 rows x 16 columns]

In [127]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21201 entries, 0 to 21200
Data columns (total 20 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Platform Type                              21201 non-null  int64
 1   Personal or Business                       21201 non-null  object
 2   Day of Month                               21201 non-null  int64
 3   Weekday                                    21201 non-null  int64
 4   Pickup - Time                              21201 non-null  int64
 5   Arrival at Destination - Day of Month      21201 non-null  int64
 6   Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 7   Arrival at Destination - Time              21201 non-null  object
 8   Distance (KM)                              21201 non-null  float64
 9   Temperature                                21201 non-null  float64
 10  Precipitation in millimeters               21201 non-null  float64
 11  Pickup Lat                                 21201 non-null  float64
 12  Pickup Long                                21201 non-null  float64
 13  Destination Lat                            21201 non-null  float64
 14  Destination Long                           21201 non-null  float64
 15  Time from Pickup to Arrival                21201 non-null  int64
 16  No_Of_Orders                               21201 non-null  int64
 17  Age                                        21201 non-null  int64
 18  Average_Rating                             21201 non-null  float64
 19  Waiting time                               21201 non-null  float64
dtypes: float64(9), int64(9), object(2)
memory usage: 3.4+ MB

In [128]:
# encode personal/business
x_drop = ['Arrival at Destination - Time', 'Arrival at Destination - Weekday (Mo = 1)', 'Arrival at Destination - Day of Month']
Train.drop(x_drop, axis = 1, inplace = True)

# create dummy variables for the train and test data
Train = pd.get_dummies(Train, drop_first=True)
Test = pd.get_dummies(Test, drop_first=True)

Train.head()

   Platform Type  Day of Month  ...  Waiting time  Personal or Business_Personal
0              3             9  ...        3104.0                              0
1              3            12  ...        1673.0                              1
2              3            30  ...         818.0                              0
3              3            15  ...        1052.0                              0
4              1            13  ...         605.0                              1

[5 rows x 17 columns]

In [0]:
Train.drop(['Personal or Business_Personal', 'Platform Type', 'Precipitation in millimeters', 'Day of Month'], axis = 1, inplace = True)
Test.drop(['Personal or Business_Personal', 'Platform Type', 'Precipitation in millimeters', 'Day of Month'], axis = 1, inplace = True)

In [0]:
# Scaling data
from sklearn.preprocessing import StandardScaler
Train_s = Train.copy()
Test_s = Test.copy()
col_names = ['Distance (KM)', 'Temperature', 'Pickup Lat', 'Pickup Long', 'Destination Lat', 'Destination Long', 'No_Of_Orders', 'Age', 'Average_Rating', 'Waiting time']

# Train data
train_features = Train_s[col_names]
train_scaler = StandardScaler().fit(train_features.values)
train_features = train_scaler.transform(train_features.values)
Train_s[col_names] = train_features

#Test data
test_features = Test_s[col_names]
test_features = train_scaler.transform(test_features.values)
Test_s[col_names] = test_features

In [0]:
# split train data into predictors and response variables 

X = Train_s.copy()
x_drops = ['Time from Pickup to Arrival']
X.drop(x_drops, inplace = True, axis = 1)

y = Train['Time from Pickup to Arrival']

In [132]:
X.head()

   Weekday  Pickup - Time  ...  Average_Rating  Waiting time
0        5             10  ...       -0.090082      0.792547
1        5             11  ...       -0.308411     -0.193605
2        2             12  ...       -1.509220     -0.782815
3        5              9  ...        0.674069     -0.621558
4        1             10  ...        0.237411     -0.929601

[5 rows x 12 columns]

In [0]:
# splitting the data in a test and train set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [134]:
# Building a linear regression model 
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

# Building a decision tree regression model 
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor()
tree.fit(X_train, y_train)

# Building a random forest regression model 
from sklearn.ensemble import RandomForestRegressor
forest = RandomForestRegressor(n_estimators = 200)
forest.fit(X_train, y_train)

# Building Laaso Regularisation regression model 
from sklearn.linear_model import Lasso
lasso = Lasso(alpha = 0.1)
lasso.fit(X_train, y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [135]:
from sklearn.metrics import mean_squared_error

# Multiple linear regression
y_pred_test = lm.predict(X_test)
y_pred_train = lm.predict(X_train)
rmse_test = round(np.sqrt(mean_squared_error(y_test, y_pred_test)),2)
rmse_train = round(np.sqrt(mean_squared_error(y_train, y_pred_train)),2)

# Decision Tree regression
y_pred_test_tree = tree.predict(X_test)
y_pred_train_tree = tree.predict(X_train)
rmse_test_tree = round(np.sqrt(mean_squared_error(y_test, y_pred_test_tree)),2)
rmse_train_tree = round(np.sqrt(mean_squared_error(y_train, y_pred_train_tree)),2)

# Random forrest regression 
y_pred_test_forest = forest.predict(X_test)
y_pred_train_forest = forest.predict(X_train)
rmse_test_forest = round(np.sqrt(mean_squared_error(y_test, y_pred_test_forest)),2)
rmse_train_forest = round(np.sqrt(mean_squared_error(y_train, y_pred_train_forest)),2)

# Lasso regression
y_pred_lasso_test = lasso.predict(X_test)
y_pred_lasso_train = lasso.predict(X_train)
rmse_test_lasso =  round(np.sqrt(mean_squared_error(y_test, y_pred_lasso_test)),2)
rmse_train_lasso =  round(np.sqrt(mean_squared_error(y_train, y_pred_lasso_train)),2)

data = {'Regression model':  ['Mulitiple linear', 'Decision Tree', 'Random Forest', 'Lasso'],
        'RMSE Training': [rmse_train, rmse_train_tree, rmse_train_forest, rmse_train_lasso],
        'RMSE Testing' : [rmse_test, rmse_test_tree, rmse_test_forest, rmse_test_lasso]
        }

df = pd.DataFrame (data, columns = ['Regression model', 'RMSE Training', 'RMSE Testing'])
df.head()

   Regression model  RMSE Training  RMSE Testing
0  Mulitiple linear         797.58        800.84
1     Decision Tree           0.00       1092.83
2     Random Forest         285.26        768.69
3             Lasso         797.58        800.85

In [137]:
# lests see the coefficients for the lasso regression
coef = pd.DataFrame(lasso.coef_,X.columns, columns = ['coef'])
print(coef)

                        coef
Weekday             4.005102
Pickup - Time       9.466096
Distance (KM)     582.782913
Temperature         0.114003
Pickup Lat         14.830597
Pickup Long       -39.970480
Destination Lat   -13.661193
Destination Long   -7.407806
No_Of_Orders      -65.509160
Age                14.314539
Average_Rating    -30.435230
Waiting time       23.438887

In [138]:
# submission

# Multiple linear regression
y_pred_lin = lm.predict(Test_s)

# Decision Tree regression
y_pred_tree = tree.predict(Test_s)

# Random forrest regression 
y_pred_forest = forest.predict(Test_s)


# Submission
sb_dataframe = Tests.iloc[:,:3]
sb_dataframe['Time from pick up to arrival 1'] = lasso.predict(Test_s)
sb_dataframe.drop('User Id', inplace = True, axis = 1)
sb_dataframe.drop('Vehicle Type', inplace = True, axis = 1)

print(sb_dataframe)
sb_dataframe.to_csv('submission_lasso.csv', index = False)

            Order No  Time from pick up to arrival 1
0     Order_No_19248                     1433.401488
1     Order_No_12736                     1133.704003
2       Order_No_768                     1121.675315
3     Order_No_15332                     1146.140638
4     Order_No_21373                     1030.865713
...              ...                             ...
7063   Order_No_3612                     1103.185634
7064   Order_No_7657                     2722.249291
7065   Order_No_1969                     1670.741439
7066  Order_No_10591                     2647.337311
7067   Order_No_1603                     1487.656665

[7068 rows x 2 columns]